.font1{
	font-family: Arial, monospace;
}
.facebook {
	width: 3%;
	vertical-align: text-bottom;
}
.instagram {
	width: 3%;
	vertical-align: text-bottom;
}

.facebook_crop {	
	width: 200px;
	height: 200px;	
	overflow: hidden;
}
.facebook_crop img {
	width: 200px;
	height: 200px;
	/*margin: -80px 0 0 -25px;*/
}