
p {
	color: red;
	font-family: monospace;
	transition: all .2s ease-out;
}

p:hover {
	color: gray;
}

h1 {
	font-family: monospace;
	font-style: italic;
	display: contents;
	transition: display 2s;
}

h1:hover {
	color: blue;
	display: none;

}